DB_MASTER_DSN=postgres://loms-user:loms-password@localhost:5432/loms_db?sslmode=disable
DB_REPLICA_DSN=postgres://loms-user:loms-password@localhost:5433/loms_db?sslmode=disable
LOMS_SERVICE_URL=http://localhost:8084
KAFKA_BROKERS=localhost:29092
KAFKA_TOPIC=loms.order-events
PRODUCT_SERVICE_URL: "http://localhost:8082"
PRODUCT_SERVICE_AUTHORIZED_FILE: "secret/authorized.txt"
PRODUCT_SERVICE_SKUS_FILENAME: "init/skus.json"
PRODUCT_SERVICE_DATA_FILENAME: "init/data.json"
